@charset "UTF-8";
/* Estilos de la Web Memerland */
/*---Partial - Variables Memerland---*/
/*Paleta de colores: https://colorhunt.co/palette/b983ff94b3fd94daff99feff*/
/*Colors*/
/*BG general*/
/*BG de cada sección individual */
/*BG Toogler (menú hamburgesa)*/
/*Navbar, Footer*/
/*Bordes de color primario*/
/*Extras*/
/*Text*/
/*---Partial - General Memerland---*/
/*Reset innecesario debido a Bootstrap*/
/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }*/
body {
  background-color: #f1e9f1;
  margin-left: auto;
  margin-right: auto;
  font-size: 125%;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  text-align: center;
}

h1 {
  background: radial-gradient(circle, #7857d0 0%, #94b3fd 25%, #7857d0 50%, #94b3fd 75%, #7857d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7857d0",endColorstr="#7857d0",GradientType=1);
  color: white;
  text-shadow: 4px 4px 6px black;
  text-align: center;
  font-weight: bold;
  margin: 1rem 0rem;
  padding: 1rem;
}

h2 {
  text-align: center;
  margin: 0.5rem;
}

p {
  margin: 1rem 0rem;
}

.heroColumnas {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.hero__section {
  background-color: #e6d9f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 1rem;
  margin-bottom: 1rem;
}

.hero__section--img {
  border: 0.75rem;
  border-color: #c99fff;
  border-style: outset;
}

/*Particular de sección Caras*/
.hero__section--p {
  max-width: 800px;
  text-align: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  max-width: 75%;
}

.sectionSecundario {
  background-color: #e6d9f7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 1rem;
}

.sectionSecundario__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionSecundario__list--img {
  margin: 0.5rem;
  max-width: 350px;
  min-width: 200px;
}

/*---Partial - Navbar Memerland---*/
.navbar-brand__logo {
  border-radius: 10px;
}

.navbar {
  background-color: #b983ff;
  /*color: white;*/
  text-shadow: 2px 2px 2px grey;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-toggler {
  background-color: #9c50ff;
}

.linkInicio {
  margin-left: auto;
}

/*---Partial - Footer Memerland---*/
.footer {
  background-color: #b983ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8em;
  color: white;
}

.footer span {
  font-size: 85%;
  font-family: "Arial", Gadget, sans-serif;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  overflow: hidden;
  margin-left: auto;
}

.footer__nav--link {
  margin-left: 10px;
}

.footer__redes--link {
  margin-left: 10px;
}

.heroColumnas {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.hero__section {
  background-color: #e6d9f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 1rem;
  margin-bottom: 1rem;
}

.hero__section--img {
  border: 0.75rem;
  border-color: #c99fff;
  border-style: outset;
}

/*Particular de sección Caras*/
.hero__section--p {
  max-width: 800px;
  text-align: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  max-width: 75%;
}

.sectionSecundario {
  background-color: #e6d9f7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 1rem;
}

.sectionSecundario__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionSecundario__list--img {
  margin: 0.5rem;
  max-width: 350px;
  min-width: 200px;
}

/*Paleta de colores: https://colorhunt.co/palette/b983ff94b3fd94daff99feff*/
/*---Particular de sección Gráficos---*/
.hero__grilla {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 10px;
  padding: 2rem;
  grid-auto-flow: dense;
}

.img-grilla img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.vertical {
  grid-row: span 2;
}

.horizontal {
  grid-column: span 2;
}

.grande {
  grid-column: span 2;
  grid-row: span 2;
  position: relative;
}

.img-grilla > p {
  position: absolute;
  color: white;
  padding: 10px 20px;
  background-color: #94b3fd;
  left: 10px;
  bottom: 0px;
  max-width: 100%;
}
/*# sourceMappingURL=main.css.map */