@charset "UTF-8";
/* Estilos de la Web Memerland */
/*---Partial - Variables Memerland---*/
/*Paleta de colores: https://colorhunt.co/palette/b983ff94b3fd94daff99feff*/
/*Colors*/
/*BG general*/
/*BG de cada sección individual */
/*BG Toogler (menú hamburgesa)*/
/*Navbar, Footer*/
/*Bordes de color primario*/
/*Extras*/
/*Extras*/
/*Text*/
/*Íconos de Bootstrap*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
/*Colores de íconos de Redes Sociales*/
/*---Partial - General Memerland---*/
/*Reset innecesario debido a Bootstrap*/
/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }*/
body {
  background-color: #f1e9f1;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  text-align: center;
  min-height: 100%;
}

.margin1-0, h1, h2, h3, h4, h5, h6, p {
  margin: 1rem 0rem;
}

p a {
  color: #9c50ff;
}

p a:hover {
  color: #94b3fd;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  background: radial-gradient(circle, #7857d0 0%, #94b3fd 25%, #7857d0 50%, #94b3fd 75%, #7857d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7857d0",endColorstr="#7857d0",GradientType=1);
  color: white;
  text-shadow: 4px 4px 6px black;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
}

h2 {
  text-align: center;
  text-shadow: 0px 0px 6px white;
}

.heroColumnas {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.hero__section {
  background-color: #e6d9f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 1rem;
  margin-bottom: 1rem;
}

.hero__section--img {
  border: 0.75rem;
  border-color: #c99fff;
  border-style: outset;
}

.hero__section--p {
  text-align: center;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.zoom {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.zoom:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

img {
  max-width: 95vw;
}

/*---Partial - Caras Memerland---*/
.sectionSecundario {
  background-color: #e6d9f7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 1rem;
}

.sectionSecundario__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0px;
}

.sectionSecundario__list--img {
  margin: 0.5rem;
  max-width: 350px;
  min-width: 200px;
}

/*---Partial - Navbar Memerland---*/
.navbar {
  background-color: #b983ff;
  /*color: white;*/
  text-shadow: 2px 2px 2px grey;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-brand__logo {
  border-radius: 10px;
}

.navbar-toggler {
  background-color: #9c50ff;
}

.linkInicio {
  margin-left: auto;
}

/*---Partial - Footer Memerland---*/
.link--facebook {
  color: #3b5998;
  border-radius: 50%;
}

.link--instagram {
  color: #d63384;
  border-radius: 50%;
}

.link--twitter {
  color: #55acee;
  border-radius: 50%;
}

.link--snapchat {
  color: #fffc00;
  border-radius: 50%;
}

.link--telegram {
  color: #0088cc;
  border-radius: 50%;
}

.footer {
  background-color: #b983ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3em 0.8em;
  color: white;
}

.footer span {
  font-size: 0.9rem;
  font-family: "Arial", Gadget, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60%;
}

.footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  overflow: hidden;
  margin-left: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__redes--link {
  margin-left: 10px;
}

.footer__redes--link:hover {
  color: #ae00ff;
}

.footer .modal {
  color: black;
  text-align: left;
}

.footer .modal-footer {
  background-color: #e6d9f7;
}

.footer .btn-secondary {
  background-color: #9c50ff;
  border: 0px;
}

.sectionSecundario__list--img {
  width: 250px;
}

.carousel {
  max-width: 1024px;
}

.carousel-item {
  text-shadow: white 2px 0px 0px, white 1.75517px 0.95885px 0px, white 1.0806px 1.68294px 0px, white 0.14147px 1.99499px 0px, white -0.83229px 1.81859px 0px, white -1.60229px 1.19694px 0px, white -1.97998px 0.28224px 0px, white -1.87291px -0.70157px 0px, white -1.30729px -1.5136px 0px, white -0.42159px -1.95506px 0px, white 0.56732px -1.91785px 0px, white 1.41734px -1.41108px 0px, white 1.92034px -0.55883px 0px;
}

.cardMeme {
  position: relative;
}

.cardMeme > p {
  position: absolute;
  color: white;
  text-shadow: 0px 0px 4px black;
  background-color: rgba(148, 179, 253, 0.95);
  left: 20px;
  bottom: 0px;
  max-width: 100%;
  overflow: hidden;
  padding: 0em 0.7em;
}

/*---Partial - Sección Gráficos Memerland---*/
.hero__grilla {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 10px;
  grid-auto-flow: dense;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 600px) {
  .hero__grilla {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.img-grilla img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100px;
  border-radius: 2%;
}

.vertical {
  grid-row: span 2;
  grid-column: span 1;
}

.horizontal {
  grid-row: span 1;
  grid-column: span 2;
}

.grande {
  grid-row: span 2;
  grid-column: span 2;
}

@media only screen and (max-width: 600px) {
  .vertical {
    grid-row: span 1;
    grid-column: span 1;
  }
  .horizontal {
    grid-row: span 1;
    grid-column: span 1;
  }
  .grande {
    grid-row: span 1;
    grid-column: span 1;
  }
}

.resaltar {
  border-radius: 2%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.resaltar:hover {
  border-radius: 2%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

iframe {
  max-width: 90vw;
}

section {
  text-align: left;
}

.section--img-collage {
  max-width: 60vw;
  max-height: 60vh;
  float: right;
  margin: 0em 1em;
}

@media only screen and (max-width: 500px) {
  .section--img-collage {
    max-width: 85vw;
    max-height: 85vh;
  }
}
/*# sourceMappingURL=main.css.map */