/*---Partial - Footer Memerland---*/

$redesNav: (
  facebook: $iconFacebook,
  instagram: $iconInstagram,
  twitter: $iconTwitter,
  snapchat: $iconSnapchat,
  telegram: $iconTelegram,
);

@each $redSocial, $colorRGB in $redesNav {
  .link--#{$redSocial} {
    color: $colorRGB;
    border-radius: 50%;
  }
}

.footer {
  background-color: $colorSecondary;
  display: flex;
  padding: 0.3em 0.8em;
  color: $textLightColor;

  & span {
    font-size: $fontFooterSize;
    font-family: $fontFooterFamily;
    display: flex;
    align-items: center;
    max-width: 60%;
  }

  &__redes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 0;
    overflow: hidden;
    margin-left: auto;
    flex-wrap: wrap;

    &--link {
      margin-left: 10px;

      &:hover {
        color: $footerLinkHover;
      }
    }
  }

  & .modal{
    color: $footerModalText;
    text-align: left;
  }

  & .modal-footer {
    background-color: $colorPrimary;
  }

  & .btn-secondary{
    background-color: $colorPrimaryHard;
    border: 0px;
  }


}
