/*---Partial - Footer Memerland---*/

.footer {
  background-color: $colorSecondary;
  display: flex;
  padding: 0.8em;
  color: $textLightColor;

  & span {
    font-size: $fontFooterSize;
    font-family: $fontFooterFamily;
  }

  &__nav {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;

    &--link {
      margin-left: 10px;
    }
  }

  &__redes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 0;
    overflow: hidden;
    margin-left: auto;

    &--link {
      margin-left: 10px;
    }
  }
}





