/*---Partial - General Memerland---*/

/*Reset innecesario debido a Bootstrap*/
/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }*/

body {
  background-color: $BGColor;
  margin-left: auto;
  margin-right: auto;
  font-size: $fontSize;
  font-family: $fontFamily;
  text-align: center;
  
  min-height: 100%;
}

.margin1-0 {
  margin: 1rem 0rem;
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend .margin1-0;
  }
}

p {
  @extend .margin1-0;

  & a {
    color: $colorPrimaryHard;
  }

  & a:hover {
    color: $colorThird;
  }
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  background: -moz-radial-gradient(
    circle,
    rgba(120, 87, 208, 1) 0%,
    rgba(148, 179, 253, 1) 25%,
    rgba(120, 87, 208, 1) 50%,
    rgba(148, 179, 253, 1) 75%,
    rgba(120, 87, 208, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(120, 87, 208, 1) 0%,
    rgba(148, 179, 253, 1) 25%,
    rgba(120, 87, 208, 1) 50%,
    rgba(148, 179, 253, 1) 75%,
    rgba(120, 87, 208, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(120, 87, 208, 1) 0%,
    rgba(148, 179, 253, 1) 25%,
    rgba(120, 87, 208, 1) 50%,
    rgba(148, 179, 253, 1) 75%,
    rgba(120, 87, 208, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7857d0",endColorstr="#7857d0",GradientType=1);

  color: $textLightColor;
  text-shadow: 4px 4px 6px $textShadow;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
}

h2 {
  text-align: center;
}

.heroColumnas {
  flex-flow: column;
}

.hero__section {
  background-color: $colorPrimary;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  padding: 1rem;
  margin-bottom: 1rem;

  &--img {
    border: 0.75rem;
    border-color: $colorBorder;
    border-style: outset;
  }

  &--p {
    //max-width: 800px;
    text-align: center;
    //flex-shrink: 1;
    max-width: 75%;
    margin: auto;
  }
}

.zoom {
  transition: transform 0.2s;
}
.zoom:hover {
  transform: scale(1.1);
}

img {
  max-width: 95vw;
}
