/*---Partial - Navbar Memerland---*/

.navbar {
  background-color: $colorSecondary;
  /*color: white;*/
  text-shadow: 2px 2px 2px grey;

  &-nav {
    margin-left: auto;
  }

  &-brand__logo {
    border-radius: 10px;
  }

  &-toggler {
    background-color: $colorPrimaryHard;
  }
  
}

.linkInicio {
  margin-left: auto;
}
