/*---Partial - Sección Gráficos Memerland---*/

.hero__grilla {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 10px;
  grid-auto-flow: dense;
  align-items: center;
  
  @media only screen and (max-width: 600px) {  
    &{
      grid-template-columns: repeat(1, 1fr);
    }
  } 
}

.img-grilla img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 100px;
}

@mixin tamañoImgGrid($ancho, $alto) {
  grid-row: span $ancho;
  grid-column: span $alto;
}

.vertical {
  //grid-row: span 2;
  @include tamañoImgGrid(2, 1);
}

.horizontal {
  //grid-column: span 2;
  @include tamañoImgGrid(1, 2);
}

.grande {
  // grid-column: span 2;
  // grid-row: span 2;
  @include tamañoImgGrid(2, 2);
  position: relative;
}

.img-grilla > p {
  position: absolute;
  color: $textLightColor;
  background-color: $colorThird;
  left: 10px;
  bottom: 0px;
  max-width: 100%;
}

@media only screen and (max-width: 600px) {  
  .vertical {
    @include tamañoImgGrid(1, 1);
  }
  
  .horizontal {
    @include tamañoImgGrid(1, 1);
  }
  
  .grande {
    @include tamañoImgGrid(1, 1);
  }
} 
