/*---Partial - Variables Memerland---*/

/*Paleta de colores: https://colorhunt.co/palette/b983ff94b3fd94daff99feff*/
/*Colors*/
$BGColor: rgb(241, 233, 241); /*BG general*/
$colorPrimary: #e6d9f7; /*BG de cada sección individual */
$colorPrimaryHard: #9c50ff; /*BG Toogler (menú hamburgesa)*/
$colorSecondary: #b983ff; /*Navbar, Footer*/
$colorBorder: #c99fff; /*Bordes de color primario*/
$colorThird: #94b3fd; /*Extras*/

/*Text*/
$textLightColor: white;
$textShadow: black;
$textShadowLight: grey;
$fontSize: 1.2rem;
$fontFamily: "Arial Black", "Arial Bold", Gadget, sans-serif;
//NotoSans,Arial,"Arial Unicode MS",sans-serif; //similar, opcional sin negrita
$fontFooterSize: 0.9rem;
$fontFooterFamily: "Arial", Gadget, sans-serif;
$footerLinkHover: rgb(174, 0, 255);
$footerModalText: black;

/*Íconos de Bootstrap*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

/*Colores de íconos de Redes Sociales*/
$iconFacebook: #3b5998;
$iconInstagram: #d63384;
$iconTwitter: #55acee;
$iconSnapchat: #fffc00;
$iconTelegram: #0088cc;