/*---Partial - Variables Memerland---*/

/*Paleta de colores: https://colorhunt.co/palette/b983ff94b3fd94daff99feff*/
/*Colors*/
$BGColor: rgb(241, 233, 241); /*BG general*/
$colorPrimary: #e6d9f7; /*BG de cada sección individual */
$colorPrimaryHard: #9c50ff; /*BG Toogler (menú hamburgesa)*/
$colorSecondary: #b983ff; /*Navbar, Footer*/
$colorBorder: #c99fff; /*Bordes de color primario*/
$colorThird: #94b3fd; /*Extras*/

/*Text*/
$textLightColor: white;
$textShadow: black;
$fontSize: 1.2rem;
$fontFamily: "Arial Black", "Arial Bold", Gadget, sans-serif;
$fontFooterSize: 0.9rem;
$fontFooterFamily: "Arial", Gadget, sans-serif;
